---
const allPosts = await Astro.glob('../content/blog/*.md');
import Cards from '../layouts/cards.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Compolotics</title>
		<link rel="stylesheet" href="src/styles/index.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
		  </style>
	</head>
	<body>
		<img src="/Clouds.png" alt="Clouds" id="cloudsImage">

		<h1 id="app"></h1>

		<script src="../scripts/main.js"></script>
		<div id="cardsIndexContainer"> 

		{allPosts.slice(-4).map((post) => <Cards title={post.frontmatter.title} description={post.frontmatter.description} img={post.frontmatter.image} tags={post.frontmatter.tags}/>)}
		</div>
		</body>
</html>
